
<article class="post-inner">
  <div class="post-content-outer">
    <div class="post-intro">
      <div class="post-title animate__animated  animate__fadeInUp"><%=page.title%></div>
      <div class="meta-intro animate__animated  animate__fadeInUp"><%=full_date(page.date,'MMM DD YYYY') %></div>
      <%if(page.cover){%>
        div class="post-cover animate__animated  animate__fadeInUp"><img src="<%=page.cover%>" class="post-cover-img"></div>
      <%}%>
    </div>
    <div class="post-content-inner">
      <div class="post-content-inner-space">

      </div>
      <div class="post-content-main animate__animated  animate__fadeInUp">
        <!-- top型目录 -->
        <%if(page.toc!==false && theme.toc.open === true && toc(page.content).length!==0 && theme.toc.side !== true){%>
          <%- toc(page.content,{class:"toc-top",list_number:false,max_depth: theme.toc.max,min_depth: theme.toc.min}) %>
        <%}%>
        <%-page.content%>
        <!-- 分类文章 -->
        <% if(page.categories.data.length>0){ %>
          <% if(page.categories.data[0].name==='Diary'){ %>
            <div class="post-categoris-bottom">
              <div class="post-categoris-name"><%=full_date(page.date,'YYYY.MM')%></div>
              <ul class="post-categoris-list">
              <% site.posts.sort('date',-1).each(pos => {%>
              <%if(pos.categories.data.length>0){%>
                <%if(pos.categories.data[0].name==='Diary' && full_date(pos.date,'MMM YYYY')===full_date(page.date,'MMM YYYY')){%>
                  <li>
                    <%if(pos.title===page.title && pos.date===page.date){%>
                      <span class="post-me-link"> <%=pos.title%> </span>
                    <%}else{%>
                      <a  href="<%=url_for(pos.path)%>" class="post-categoris-bottom-link">
                      <%=pos.title%>
                      <span style="float: right" class="post-categoris-date"> <%=full_date(pos.date,'MMM DD')%> </span>
                      </a>
                    <% } %>
                  </li>
                <%}%>
              <%};%>
              <% }); %>
              </ul>
            </div>
          <% } else { %>
            <div class="post-categoris-bottom">
              <div class="post-categoris-name"><%=page.categories.data[0].name%></div>
              <ul class="post-categoris-list">
              <% site.posts.sort('date',-1).each(pos => {%>
              <%if(pos.categories.data.length>0){%>
                <%if(pos.categories.data[0].name===page.categories.data[0].name){%>
                  <li>
                    <%if(pos.title===page.title && pos.date===page.date){%>
                      <span class="post-me-link"> <%=pos.title%> </span>
                    <%}else{%>
                      <a  href="<%=url_for(pos.path)%>" class="post-categoris-bottom-link">
                      <%=pos.title%>
                      </a>
                    <% } %>
                  </li>
                <%}%>
              <%};%>
              <% }); %>
              </ul>
            </div>
          <% } %>
        <% } %>


        <!-- 翻页 -->
        <% if (page.prev || page.next) { %>
          <div class="post-nav">
      
            <div align="right" style="float:right" class="post-nav-next">
              <% if (page.next){ %>
                <a href="<%= url_for(page.next.path) %>" rel="next" title="<%= page.next.title %>">
                <%= page.next.title %>
                </a>
                <span> > </span>
              <% } %>
            </div>

            <div align="left" style="float:left" class="post-nav-prev">
                <% if (page.prev){ %>
                <span> < </span>
                <a href="<%= url_for(page.prev.path) %>" rel="prev" title="<%= page.prev.title %>">
                <%= page.prev.title %>
                </a>
              <% } %>
            </div>

          </div>


          <div class="post-bot">
      
            <div align="right" style="float:right" class="post-bot-next">
              <% if (page.next){ %>
                <a href="<%= url_for(page.next.path) %>" rel="next" title="<%= page.next.title %>"> Next </a>
                <span> > </span>
              <% } %>
            </div>

            <div align="left" style="float:left" class="post-bot-prev">
                <% if (page.prev){ %>
                <span> < </span>
                <a href="<%= url_for(page.prev.path) %>" rel="prev" title="<%= page.prev.title %>"> Prev </a>
              <% } %>
            </div>

          </div>
          

        <% } %>        
      </div>
      <div class="post-content-inner-space">
        <%if(page.toc!==false && theme.toc.open === true && toc(page.content).length!==0 && theme.toc.side === true){%>
          <div class="space-toc-main animate__animated  animate__fadeInUp">
            <%- toc(page.content,{class:"space-toc",list_number:false,max_depth: theme.toc.max,min_depth: theme.toc.min}) %>
           </div>
        <%}%>
      </div>
    </div>
    <!-- 评论 -->
    <% if (page.comments !== false && theme.comments.open === true){ %>
    <div class="bottom-comments-outer">
      <div class="bottom-comments-inner">
        <!-- valine -->
        <% if ( theme.comments.system ==='valine' && theme.comments.valine && theme.comments.valine.appid && theme.comments.valine.appkey){ %>
          <section id="comments" class="comments" style="margin-top: 150px;">
            <style>
              .comments{background:#fff}
              @media screen and (max-width:900px){.comments{margin:auto;padding:10px;background:#fff}}
            </style>
            <%- partial('post/comment-valine', {
              key: page.slug,
              title: page.title,
              url: config.url+url_for(page.path)
              }) %>
          </section>
        <% } %>
        <!-- Gitalk -->
        <% if ( theme.comments.system ==='gitalk' && theme.comments.gitalk && theme.comments.gitalk.clientID && theme.comments.gitalk.clientSecret ){ %>
          <%- partial('post/comment-gitalk') %>
        <% } %>
        <!-- livere -->
        <% if ( theme.comments.system ==='livere' && theme.comments.livere && theme.comments.livere.dataId && theme.comments.livere.dataUid ){ %>
          <%- partial('post/comment-livere') %>
        <% } %>
        </div>
      </div>
    <% } %>
  </div>
</article>